# --- Configurações de Ambiente (Segurança) ---
.env
# Não ignore o arquivo de exemplo
!.env.example

# --- Java / Maven (Backend) ---
**/target/
*.log
**/.mvn/

# --- IDEs (Ambiente de Desenvolvimento) ---
.idea/
*.iml
.vscode/

# --- Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Frontend ---
# Se futuramente usar Node.js/Vue/Tailwind, estas linhas já protegem...
**/node_modules/
**/dist/
frontend/src/router/index.js
